cmake-build-debug
cmake-build-release
datasets/emnist-letters
.DS_Store
*/*.DS_Store
*/*/*.DS_Store
.vscode
build*
.idea
SimpleMLP
.qt
CMakeFiles
SimpleMLP_autogen
CMakeCache.txt
cmake_install.cmake
src/res
src/bin/*.mlpmodel
src/bin/*.bmp
*.mlpmodel
